*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica,sans-serif;
    font-weight: normal;
}

:root {
    --main-color-900: #92e891;
    --main-color-400: #282928;
    --main-color-100: #000000;
    --border-color: rgb(33, 33, 33);
}

body {
    background-color: rgb(28, 27, 34);
}

.container {
    display:grid;
    place-items: center;
    border-radius: 2%;
    background-color: var(--main-color-100);
    width: 280px;
    margin: 2rem auto auto auto;
    padding: 1rem;
}

.calculator {
    display: grid;
    align-content: center;
    gap: 1px;
    min-height: 80%;
    max-width: 280px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(120px, auto) repeat(5, 60px);
}

.calculator button {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    outline: none;
    line-height: ;
    border: 1px solid var(--border-color);
    border-radius: 10%;
    background-color: var(--main-color-400);
}

.button:hover {
    background-color: var(--main-color-900);
    color: var(--main-color-100);
    transition: 0.5s ease-in-out;
}

button:first-of-type,button:last-of-type  {
    background-color: var(--main-color-900);
    color: var(--main-color-100);
}

button:first-of-type:hover,button:last-of-type:hover  {
    background-color: var(--main-color-100);
    color: var(--main-color-900);
}

.display {
    grid-column: 1 / -1;
    background-color: var(--main-color-400);
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
}